@import '~tachyons';

:root {
  --sans-serif: -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                ubuntu,
                roboto,
                noto,
                'segoe ui',
                arial,
                sans-serif;
  --white: #f8f8f8;
  --blue: #2989e0;
  --green: #00a9d0;
  --purple: #7157f8;
}

@font-face {
  font-family: 'Panton Bold';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/panton.eot'); /* IE9 Compat Modes */
  src: local('Panton Bold'), local('Panton-Bold'),
       url('/fonts/panton.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/panton.woff') format('woff'), /* Modern Browsers */
       url('/fonts/panton.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/panton.svg#Panton Bold') format('svg'); /* Legacy iOS */
}

.panton { font-family: 'Panton Bold', var(--sans-serif); }

.white { color: var(--white); }
.bg-white { background-color: var(--white); }
.b--white { border-color: var(--white); }
.blue { color: var(--blue); }
.bg-blue { background-color: var(--blue); }
.b--blue { border-color: var(--blue); }

.z--1 { z-index: -1; }

.placeholder-blue::placeholder { color: var(--blue); }

@keyframes jump {
  0% { transform: translateY(0); }
  3% { transform: translateY(2px); }
  15% { transform: translateY(-10px); }
  25% { transform: translateY(1px); }
  28% { transform: translateY(0); }
}

.hover-up {
  transition: .5s;
  animation: jump 3s ease-in-out 6s infinite;
  &:hover {
    animation: none;
    transform: translateY(-10px);
  }
}

.navlink-active:after {
  content: ' ';

  width: 100%;
  position: relative;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
}

.section {
  z-index: 0;
  position: relative;
  background: linear-gradient(0deg, var(--green), var(--purple));
  &:nth-child(even) {
    color: #2989e0;
    background: linear-gradient(180deg, var(--green), var(--purple));
    &:before {
      z-index: -1;
      content: ' ';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      position: absolute;
      // background: linear-gradient(90deg, rgba(248, 248, 248, 0.5) 0%, #f8f8f8 30%, #f8f8f8 70%, rgba(248, 248, 248, 0.5) 100%)
      background: linear-gradient(90deg, rgba(248, 248, 248, 0.6) 0%, var(--white) 20%, var(--white) 80%, rgba(248, 248, 248, 0.6) 100%)
    }
  }
}
